<h1>Invitation to collaborate on project <%= @project.name %></h1>

<p>Hello <%= @collaborator.email %>,</p>

<p>You have been invited to collaborate on the project "<%= @project.name %>". You can now contribute to the project by editing files and adding new features.</p>

<p>Best regards,</p>
<p>The Codepeer Review Team</p>
