<h1>My Snippets</h1>
<%= link_to 'New Snippet', new_snippet_path, class: 'btn btn-primary' %>
<ul>
  <% @snippets.each do |snippet| %>
    <li>
      <%= link_to snippet.title, snippet_path(snippet) %>
      <%= link_to 'Edit', edit_snippet_path(snippet), class: 'btn btn-secondary' %>
      <%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>
