<h1>My Snippets</h1>

<%= link_to 'New Snippet', new_snippet_path %>

<ul>
  <% @snippets.each do |snippet| %>
    <li>
      <%= link_to snippet.title, snippet %>
      <%= link_to 'Edit', edit_snippet_path(snippet) %> |
      <%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
