<h1><%= @snippet.title %></h1>
<pre><%= @snippet.content %></pre>
<%= link_to 'Edit', edit_snippet_path(@snippet), class: 'btn btn-secondary' %>
<%= link_to 'Back', snippets_path, class: 'btn btn-primary' %>
