<h2>Two-Factor Authentication Setup</h2>
<% if current_user.otp_required_for_login %>
  <p>2FA is currently <strong>enabled</strong> for your account.</p>
  <%= form_for(current_user, url: disable_two_factor_path, method: :post) do |f| %>
    <%= f.submit "Disable 2FA" %>
  <% end %>
<% else %>
  <p>2FA is currently <strong>disabled</strong> for your account.</p>
  <%= form_for(current_user, url: enable_two_factor_path, method: :post) do |f| %>
    <%= f.submit "Enable 2FA" %>
  <% end %>
<% end %>
