<!-- app/views/pages/connect_account.html.erb -->
<h1>Connect Your Accounts</h1>
<p>Here you can connect your GitHub account to your existing account.</p>

<%= link_to "Connect GitHub Account", user_github_omniauth_authorize_path, class: "btn btn-primary" %>
