<h1>Connect Your Account</h1>
<p>Here you can connect your account to other services like GitHub and Google.</p>

<%= link_to "Connect with GitHub", user_github_omniauth_authorize_path, class: "btn btn-primary" %>
<%= link_to "Connect with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
