<h1>My Projects</h1>

<p>
  <%= link_to 'New Project', new_project_path %>
</p>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
    </li>
  <% end %>
</ul>
