<h1>My Projects</h1>

<p>
  <%= link_to 'New Project', new_project_path %>
</p>

<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
      <%= link_to 'Delete', project_path(project), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>
  <% end %>
</ul>
