<h1><%= @project.name %></h1>

<p><%= @project.description %></p>

<h3>Files</h3>
<ul>
  <% @project.files.each do |file| %>
    <li>
      <%= link_to file.filename.to_s, url_for(file) %>
    </li>
  <% end %>
</ul>
<%= link_to "Delete project", project_path(@project), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" } %>