<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<h3>Files</h3>
<ul>
  <% @project.files.each do |file| %>
    <li><%= link_to file.filename, url_for(file) %></li>
  <% end %>
</ul>
