<h1>Repository: <%= @repository %></h1>

<ul>
  <% @contents.each do |file| %>
    <li class="file" data-filename="<%= file.name %>">
      <% if file.type == 'dir' %>
        <%= link_to file.name, repository_path(@repository, path: file.path) %>
      <% else %>
        <%= link_to file.name, edit_repository_file_path(@repository, file.path) %>
      <% end %>
    </li>
  <% end %>
</ul>

